.text {
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

.nav_bar:hover {
    color: #0000ff;
    font-weight: bold;
    font-size: 20px;
}

.bgimage {
    height: 100vh;
    background: url('man2.gif');
    background-size: cover;
    position: relative;
}

.person_title {
    font-size: 4.5rem;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 0 1px black, 0 0 3px purple, 0 0 5px #ff0000, 0 0 10px #0000ff;
    color: rgb(202, 215, 228);
}

.name:hover {
    font-size: 6rem;
}

.person_desc {
    font-size: 2rem;
    top: 80%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 0 3px black, 0 0 7px #ff0000, 0 0 10px #0000ff;
    color: aliceblue;
}

.circular-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

.circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_process_bar {
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
    font-size: 30px;
    font-weight: bold;
}

.certificate-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    overflow: hidden;
}

.certificate-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .person_title {
        font-size: 3rem;
    }

    .name:hover {
        font-size: 5rem;
    }

    .person_desc {
        font-size: 1.5rem;
    }

    .text_process_bar {
        font-size: 24px;
    }
}
